<div class="card right span4" style="margin-top: 0;margin-bottom: 10px;">
  {{#is active 0}}
    {{#with images.[0]}}
  <a href="https://www.instagram.com/p/Bq2uRCtFttU/"><img
    src="{{rev large}}"
    alt="{{alt}}"
    srcset="{{rev thumb}} 100w, {{rev small}} 576w, {{rev large}} 1024w, {{rev full}} 2048w"
    sizes="(max-width: 576px) 100vw, 576px"
    class="card-img-top"
  ></a>
    {{/with}}
  <div class="card-body caption">
    <a href="https://www.instagram.com/p/Bq2uRCtFttU/">Original artwork by @jp_means_junpai</a>
  </div>
  {{/is}}
  <div class="card-header" style="{{#is active 0}}border-top: 1px solid rgba(0, 0, 0, 0.125);{{/is}}">Article Index</div>
  <div class="list-group list-group-flush">
    <a class="list-group-item {{#is active 0}}active{{/is}}" href="index.html">Introduction</a>
    <a class="list-group-item {{#is active 0}}active{{/is}}" href="index.html#a-brief-history-of-gender-dysphoria">History</a>
    <a class="list-group-item {{#is active 0}}active{{/is}}" href="index.html#so-what-is-gender-dysphoria">What Is Gender Dysphoria</a>
    <a class="list-group-item {{#is active 1}}active{{/is}}" href="01-euphoria.html">Euphoria</a>
    <a class="list-group-item {{#is active 2}}active{{/is}}" href="02-physical-biochemical.html#physical-dysphoria">Physical Dysphoria</a>
    <a class="list-group-item {{#is active 2}}active{{/is}}" href="02-physical-biochemical.html#biochemical-dysphoria">Biochemical Dysphoria</a>
    <a class="list-group-item {{#is active 3}}active{{/is}}" href="03-social-societal.html#social-dysphoria">Social Dysphoria</a>
    <a class="list-group-item {{#is active 3}}active{{/is}}" href="03-social-societal.html#societal-dysphoria">Societal Dysphoria</a>
    <a class="list-group-item {{#is active 3}}active{{/is}}" href="03-social-societal.html#sexual-dysphoria">Sexual Dysphoria</a>
    <a class="list-group-item {{#is active 4}}active{{/is}}" href="04-presentational.html#presentational-dysphoria">Presentational Dysphoria</a>
    <a class="list-group-item {{#is active 4}}active{{/is}}" href="04-presentational.html#historical-dysphoria">Historical Dysphoria</a>
    <a class="list-group-item {{#is active 5}}active{{/is}}" href="05-managed.html#managed-dysphoria">Managed Dysphoria</a>
    <a class="list-group-item {{#is active 5}}active{{/is}}" href="05-managed.html#impostor-syndrome">Impostor Syndrome</a>
    <a class="list-group-item {{#is active 6}}active{{/is}}" href="06-diagnosis.html">Diagnosis</a>
    <a class="list-group-item {{#is active 7}}active{{/is}}" href="07-treatment.html">Treatment</a>
    <a class="list-group-item {{#is active 8}}active{{/is}}" href="08-causes.html">Causes</a>
    <a class="list-group-item {{#is active 9}}active{{/is}}" href="09-conclusion.html">Conclusion</a>
  </div>
</div>
