{{#unless flags.hasTweet}}
<a href="{{this.url}}" class="grid-card {{#each classes}}{{this}} {{/each}}" data-id="{{id}}">
  <div class="grid-date">
    <span class="grid-date-value">{{date this.date 'MMM do, yyyy'}}</span>
    <span class="emdash">&mdash;</span>
    {{#if tags}}{{#first tags}}<span class="grid-tag">{{this}}</span>{{/first}}{{/if}}
  </div>

  {{#if flags.hasPoster}}<div class="grid-poster">
    {{#if flags.isWide}}
    <img
      src="{{rev poster.0.url}}"
      alt="{{alt}}"
      srcset="{{#join poster}}{{rev url}} {{width}}w{{/join}}"
      sizes="(max-width: 576px) 100vw, (max-width: 1024px) 100vw, 1024px"
    >
    {{else}}{{#if flags.isSquare}}
      {{#unless flags.noPreview}}
    <img
      src="{{rev poster.0.url}}"
      alt="{{alt}}"
      srcset="{{#join poster}}{{rev url}} {{width}}w{{/join}}"
      sizes="(max-width: 576px) 20vw, (max-width: 1024px) 25vw, 1024px"
    >
      {{else}}
    <img
      src="{{rev poster.0.url}}"
      alt="{{alt}}"
      srcset="{{#join poster}}{{rev url}} {{width}}w{{/join}}"
      sizes="(max-width: 576px) 100vw, (max-width: 1024px) 50vw, 576px"
    >
      {{/unless}}
    {{else}}
    <img
      src="{{rev poster.0.url}}"
      alt="{{alt}}"
      srcset="{{#join poster}}{{rev url}} {{width}}w{{/join}}"
      sizes="(max-width: 576px) 40vw, (max-width: 1024px) 15vw, 576px"
    >
    {{/if}}{{/if}}
  </div>{{/if}}
  {{#unless flags.hideTitle}}
  {{#if title}}<h2 class="grid-title">{{title}}</h2>{{/if}}
  {{#if subtitle}}<h3 class="grid-subtitle">{{subtitle}}</h3>{{/if}}
  {{/unless}}
  {{#if preview}}
  <div class="grid-preview"><div>{{{preview}}}</div></div>
  <div class="grid-readmore-shade"></div>
  {{/if}}
</a>
{{else}}
<div class="grid-card {{#each classes}}{{this}} {{/each}}" data-id="{{id}}">
  <a href="{{this.url}}" class="grid-date">
    <span>{{date this.date 'MMM do, yyyy'}}</span> <span class="emdash">&mdash;</span>
    {{#if tags}}{{#first tags}}<span>{{this}}</span>{{/first}}{{/if}}
  </a>
  {{import '~/tweet' ids=tweet tweets=tweets className="grid-tweet" }}
  {{#unless flags.noTitle}}
  {{#if title}}<a href="{{this.url}}" class="grid-title h2">{{title}}</a>{{/if}}
  {{#if subtitle}}<a href="{{this.url}}" class="grid-subtitle">{{subtitle}}</a>{{/if}}
  {{#if description}}<a href="{{this.url}}" class="grid-description">{{description}}</a>{{/if}}
  {{#if preview}}
  <a href="{{this.url}}" class="grid-preview"><div>{{{preview}}}</div></a>
  <div class="grid-readmore-shade"></div>
  {{/if}}
  {{/unless}}
</div>
{{/unless}}
