{{#extend "layout"}}

  {{#content "meta"}}
  <meta property="og:title" content="{{title}}{{#if subtitle}}, {{subtitle}}{{/if}}">
  <meta property="og:description" content="{{description}}">
  {{#if titlecard}}<meta property="og:image" content="https://curvyandtrans.com{{rev titlecard}}">{{/if}}
  <meta property="og:url" content="https://curvyandtrans.com{{url}}">
  <meta name="twitter:title" content="{{title}}{{#if subtitle}}, {{subtitle}}{{/if}}">
  <meta name="twitter:description" content="{{description}}">
  {{#if titlecard}}
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:image" content="https://curvyandtrans.com{{rev titlecard}}">
  {{/if}}
  <link rel="canonical" href="{{#if canonical}}{{canonical}}{{else}}https://curvyandtrans.com{{url}}{{/if}}">
  {{#if redirect}}
  <meta http-equiv="refresh" content="0;URL='{{redirect}}'" />
  {{/if}}
  {{/content}}

  {{#content "bodyClass"}}{{#each classes}}{{this}} {{/each}}page-post{{/content}}

  {{#content "body"}}
  {{#if draft}}
  <div class="draft"><div>
    <h3>DRAFT CONTENT</h3>
    <p>The following page is a work in progress and is incomplete, with new additions made as time allows. As such, the contents will be changing before it is released live. If you are reading this work, recognize that it is a living document.</p>
    <p>Please do not share this url without permission.</p>
  </div></div>
  {{/if}}
  {{import '~/postdebug'}}
  <article class="{{#each classes}}{{this}} {{/each}}lightbox">
    {{#if meta.title}}<h1 class="post-title"><a href="{{meta.url}}">{{meta.title}}</a></h1>{{/if}}
    {{#if meta.subtitle}}<h2 class="post-subtitle"><a href="{{meta.url}}">{{meta.subtitle}}</a></h2>{{/if}}
    <div class="post-date">
      <span>{{date meta.dateCreated 'MMMM do, yyyy'}}</span>
      {{#each meta.tags}}<a href="/#{{@key}}">{{this}}</a>{{/each}}
    </div>
    {{#unless flags.hideImages}}{{#if flags.singleImage}}
    <div class="post-images">
      {{#each meta.images}}
        {{#compare type 'TYPE_VIDEO'}}
        <a class="{{#even @index}}even{{else}}odd{{/even}}">
          <video {{#if ../video.controls}}controls{{else}}autoplay muted loop{{/if}}><source src="{{sizes.[0].url}}" type="video/mp4"></video>
        </a>
        {{/compare}}
        {{#compare type 'TYPE_IMAGE'}}
        <a href="{{rev url}}" class="{{#even @index}}even{{else}}odd{{/even}}">
          {{#if ../flags.isWide}}
          <img
            src="{{rev sizes.0.url}}"
            alt="{{alt}}"
            srcset="{{#join sizes}}{{rev url}} {{width}}w{{/join}}"
            sizes="(max-width: 576px) 100vw, (max-width: 960px) 95vw, 960px"
          >
          {{else}}
          <img
            src="{{rev sizes.0.url}}"
            alt="{{alt}}"
            srcset="{{#join sizes}}{{rev url}} {{width}}w{{/join}}"
            sizes="(max-width: 576px) 100vw, 576px"
          >
          {{/if}}
        </a>
        {{/compare}}
      {{/each}}
    </div>
    {{else}}
    <div class="post-carousel">
      <div class="carousel" data-flickity="{{#if carousel}}{{carousel}}{{else}}{}{{/if}}">
      {{#each meta.images}}
        {{#compare type 'TYPE_VIDEO'}}
        <a class="carousel-cell {{#even @index}}even{{else}}odd{{/even}}">
          <video {{#if ../video.controls}}controls{{else}}autoplay muted loop{{/if}} >
            <source src="{{sizes.[0].url}}" type="video/mp4">
          </video>
        </a>
        {{/compare}}
        {{#compare type 'TYPE_IMAGE'}}
        <a href="{{rev url}}" class="carousel-cell lb {{#even @index}}even{{else}}odd{{/even}}">
          <img
            src="{{rev carousel.pre1x.url}}"
            alt="{{alt}}"
            width="{{carousel.pre1x.width}}"
            height="{{carousel.pre1x.height}}"
            srcset="{{rev carousel.pre1x.url}} 1x, {{rev carousel.pre1x.url}} 2x"
          >
        </a>
        {{/compare}}
      {{/each}}
      </div>
    </div>
    {{/if}}{{/unless}}

    {{#if meta.products}}
    <ul class="post-products">
      <li class="title"><span class="disclosure">Disclosure: Amazon links are affiliate URLs</span>Products:</li>
      {{#each meta.products}}<li><a href="{{this}}" rel="nofollow">{{@key}}</a></li>{{/each}}
    </ul>
    {{/if}}
    <div class="post-content">
      {{#if hero}}<a href="{{rev full}}" class="card {{#is hero 'right'}}right{{/is}}{{#is hero 'left'}}left{{/is}} span3">
        {{#with (first images)}}
        <img
        src="{{rev sizes.0.url}}"
        alt="{{alt}}"
        srcset="{{#join sizes}}{{rev url}} {{width}}w{{/join}}"
          sizes="(max-width: 576px) 100vw, (max-width: 1020px) 33vw, 576px"
          class="card-img-top"
        >
        {{/with}}
      </a>{{/if}}
      {{{this.contents}}}
    </div>

  </article>
    <div class="pager">
      <div class="prev">{{#if siblings.prev}}<a href="{{siblings.prev}}" class="btn btn-primary left">{{icon 'angle-left'}} Back</a>{{/if}}</div>
      <div class="first">{{#if siblings.first}}<a href="{{siblings.first}}" class="btn btn-primary left">{{icon 'angle-double-left'}} Newest</a>{{/if}}</div>
      <div class="last">{{#if siblings.last}}<a href="{{siblings.last}}" class="btn btn-primary right">Oldest {{icon 'angle-double-right'}}</a>{{/if}}</div>
      <div class="next">{{#if siblings.next}}<a href="{{siblings.next}}" class="btn btn-primary right">Next {{icon 'angle-right'}}</a>{{/if}}</div>
    </div>
  {{/content}}

  {{#if meta.lazy}}
  {{#append 'postscripts'}}
  <script src="//cdnjs.cloudflare.com/ajax/libs/lozad.js/1.9.0/lozad.min.js"></script>
  <script>
    window.lozad('img[data-src]', {
      rootMargin: '50% 0px', // syntax similar to that of CSS Margin
      threshold: 0.5, // ratio of element convergence
    }).observe(); // lazy loads elements with default selector as '.lozad'
  </script>
  {{/append}}
  {{/if}}

{{/extend}}
