<div class="tweet{{#is ids.length 1}} single{{/is}} {{className}}" style="{{style}}">
  {{#each ids}}
  <div class="tweet-item" data-id="{{this}}">{{#with (lookup ../tweets this)}}
    <a class="tweet-link" href="https://twitter.com/{{user.screen_name}}/status/{{id_str}}" target="_blank" rel="noopener noreferrer">{{icon 'link'}}</a>
    <a class="tweet-header" href="https://twitter.com/{{user.screen_name}}" target="_blank" rel="noopener noreferrer">
      <span class="tweet-avatar"><img src="{{rev user.avatar.output}}" alt=""></span>
      <strong class="tweet-displayname">
        {{{user.name_html}}}
        {{#if user.verified}}<i class="tweet-verified">&nbsp;</i>{{/if}}
        {{#if user.protected}}<i class="tweet-protected">&nbsp;</i>{{/if}}
      </strong>
      <span class="tweet-username">@{{user.screen_name}}</span>
      <i class="tweet-logo">&nbsp;</i>
    </a>
    {{#if quoted_status_id_str}}{{#with (lookup ../../tweets quoted_status_id_str)}}
    <div class="tweet-quoted">
      <a href="https://twitter.com/{{user.screen_name}}/status/{{id_str}}">
        <strong>{{{user.name_html}}}</strong>
        <span>@{{user.screen_name}}</span>
      </a>
      {{#if quoted_status_id_str}}{{#with (lookup ../../../tweets quoted_status_id_str)}}
      <div class="tweet-quoted">
        <a href="https://twitter.com/{{user.screen_name}}/status/{{id_str}}">
          <strong>{{{user.name_html}}}</strong>
          <span>@{{user.screen_name}}</span>
        </a>
        <div class="tweet-quoted-text">{{{html}}}</div>
      </div>
      {{else}}
      <div class="tweet-quoted missing">Quoted Tweet Unavailable</div>
      {{/with}}{{/if}}
      <div class="tweet-quoted-text">{{{html}}}</div>
    </div>
    {{else}}
    <div class="tweet-quoted missing">Quoted Tweet Unavailable</div>
    {{/with}}{{/if}}
    <div class="tweet-text">{{{html}}}</div>
    {{#any extended_entities.media entities.media}}
    <div class="tweet-entities lightbox entity-count-{{this.length}} entity-type-{{this.0.type}}"><div class="tweet-entities-inner"><div><div class="tweet-entities-grid">
      {{#each this}}
      <div class="tweet-entity">
        {{#is type 'photo'}}
        <a class="tweet-photo lb" style="background-image: url({{media_url_https}}?name=medium);" href="{{media_url_https}}">
          <img src="{{media_url_https}}?name=medium">
        </a>
        {{/is}}
        {{#is type 'video'}}
        <video controls poster="{{media_url_https}}" class="tweet-video">
          {{#each video_info.variants}}
          <source src="{{url}}" type="{{content_type}}">
          {{/each}}
        </video>
        {{/is}}
        {{#is type 'animated_gif'}}
        <video controls muted loop autoplay poster="{{media_url_https}}" class="tweet-video">
          {{#each video_info.variants}}
          <source src="{{url}}" type="{{content_type}}">
          {{/each}}
        </video>
        {{/is}}
      </div>
      {{/each}}
    </div></div></div></div>
    {{/any}}
    <div class="tweet-footer">
      <a class="tweet-date" href="https://twitter.com/{{user.screen_name}}/status/{{id_str}}" target="_blank" rel="noopener noreferrer">{{date created_at "h:mm aa - LLL do, yyyy"}}</a>
    </div>
  {{else}}Missing tweet for {{this}}{{/with}}</div>
  {{/each}}
</div>
